<div class="absolute flex w-full justify-center items-stretch gap-4 mt-2 overflow-hidden">
    <div class="min-h-[1em] w-px self-stretch bg-gradient-to-tr from-transparent via-neutral-500 to-transparent opacity-20 dark:opacity-100"></div>
    <div class="flex flex-col items-center align-middle min-w-[20%] bg-gradient-to-r from-transparent via-[#111212] to-transparent">
        <p class="jura text-white text-lg text-center">Partial Schedules</p>
        <p class="jura text-white text-base ">{{numGeneratedSchedules}}</p>
    </div>
    <div class="min-h-[1em] w-px self-stretch bg-gradient-to-tr from-transparent via-neutral-500 to-transparent opacity-20 dark:opacity-100"></div>
    <div class="flex flex-col items-center align-middle min-w-[20%] bg-gradient-to-r from-transparent via-[#111212] to-transparent">
        <p class="jura text-white text-lg text-center">Schedule Generation Rate</p>
        <p class="jura text-white text-base ">{{generationRate}}/s</p>
    </div>
    <div class="min-h-[1em] w-px self-stretch bg-gradient-to-tr from-transparent via-neutral-500 to-transparent opacity-20 dark:opacity-100"></div>
    <div class="flex flex-col items-center align-middle min-w-[20%] bg-gradient-to-r from-transparent via-[#111212] to-transparent">
        <p class="jura text-white text-lg text-center">Schedules Processed</p>
        <p class="jura text-white text-base ">{{numProcessedSchedules}}</p>
    </div>
    <div class="min-h-[1em] w-px self-stretch bg-gradient-to-tr from-transparent via-neutral-500 to-transparent opacity-20 dark:opacity-100"></div>
</div>


